html {
  scroll-behavior: smooth;
}
body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
}
header, footer {
	width: 100% ;
}
main {
	width: 80% ;
	margin-right: auto;
	margin-left: auto;
	color: #172127;
}
.site-logo-header {
width: 100px;
}
.site-logo-footer {
width: 100px;
}
.site-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-height: auto;
	background-color: rgb(28, 39, 46);
	color: #DFB48B;
}
.site-header div,
.site-header nav {
	
}
.navigation-list-header {
  display: flex;
  padding: 0 20px;
  margin: 0 0px;
  list-style: none;

}
.navigation-list-header li {
	padding: 20px 15px;
	font-size: 16px ;
}
.contacts-name {
	font-weight: 600;
	margin-top: 5px;
}
.phone-number {
	color: white;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 5px;
}
.mail {
	margin: 5px 0;
}
.contacts-header img {
	width: 30px;
}
.contacts-social {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 5px 0;
}
a {
	text-decoration: none;
	color: inherit;
}
footer {
	color: #C8DBE7;
	background-color: #2D404C;
	margin: 0;
}
.site-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.site-developer {
	align-self: flex-end;
	margin-bottom: 20px;
}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 100px;
  right: 30px;
  width: 64px;
  height: 64px;
  display: none;
  color: #DFB48B;
}
.shown {
  display: inline-block;
}
.picture-of-work {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px 20px;
}
.picture-of-work img{
	max-width: 100%;
}