
.site-header img {
width: 100px;
margin: 20px;
}

.site-header, .navigation-list-header, .contacts-header {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}
.navigation-list-header {
	
  width: 510px;
  padding: 0 20px;
  margin: 0 50px;
  list-style: none;
  
}
.contacts-header img {
	width: 50px;
}
.packs-content img, article {
	width: 350px; /*тут регулируем размеры картинок каталога*/
}


.packs-content {
	display: flex;
	justify-content: space-between;
}/*разобраться по флексу*/

.packs-content article {
	height: 500px;
	background-color: white;
	text-align: center;
} 

a {
	text-decoration: none;
	color: inherit;
}
main {
	background-color: #f7f7f7;
}

body {

}